:local {
  .container {
    margin-top: 80px;
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid #b165ed;
    border-radius: 6px;

    box-shadow: 0px 4px 35px rgba(177, 101, 237, 0.62);
    padding: 50px 50px;
    position: relative;
    @media only screen and (max-width: 768px) {
      padding: 25px;
    }
    .imageContainer {
      width: 610px;
      height: 385px;
      position: relative;
    }
    .spotlight {
      position: absolute;
      top: -130%;
      left: -20%;
      opacity: 0.7;
      z-index: -1;
      @media only screen and (max-width: 768px) {
        top: -40%;
        left: -110%;
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }
      .button {
        width: auto;
        min-width: 250px;
        @media only screen and (max-width: 768px) {
          margin-right: 0;
          margin-bottom: 15px;
          min-width: initial;
          width: 100%;
        }
      }
    }
  }
}
