# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# testimonials
/public/testimonials


# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .env files

# Google credentials
credentials.json

# vercel
.vercel

# Deploy script
deploy_live.sh
deploy_staging.sh
