:local {
  .container {
    max-width: 500px;
    margin: auto;
    h3 {
      font-size: 30px;
      line-height: 148.4%;

      margin-top: 0;
      color: #b165ed;
    }
    p {
      font-weight: 500;
      font-size: 21px;
      line-height: 148.4%;
      margin-bottom: 0;
    }
  }
}
