:local {
  .section_container {
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    //overflow: hidden;
    position: relative;
  }
  .section_title {
    text-align: center;
  }
  .container {
    margin-top: 50px;
    width: 738px;
    overflow: visible;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .pagination {
    position: relative;
    text-align: center;
    //bottom: -40px !important;
    margin-top: 25px;
  }

  .slide {
    //background: rgba(37, 37, 37, 0.9);
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    width: 530px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 26px;
    opacity: 0.15;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      height: auto;
      width: 100%;
    }
    .serviceContainer {
      position: absolute;
      top: 26px;
      right: 26px;
      display: flex;
      align-items: center;
    }
    .image {
      max-width: 220px;
      max-height: 220px;
      height: 100%;
      width: 40%;
      position: relative;
      @media only screen and (max-width: 768px) {
        width: 220px;
        height: 220px;
      }
    }
    .memberContent {
      width: 400px;
      position: relative;
      font-size: 11px;
      left: -40px;
      @media only screen and (max-width: 768px) {
        width: 100%;
        left: 0;
      }
      .quote {
        color: #b165ed;
        position: absolute;
        top: -20px;
        font-size: 40px;
        @media only screen and (max-width: 768px) {
          font-size: 24px;
        }
      }
    }
  }

  .slide.slide_active {
    width: 100%;
    opacity: 1;
    animation: opacity 1s;
    box-shadow: 4px 4px 6px black;
    @media only screen and (max-width: 768px) {
      height: auto;
    }
    .memberContent {
      font-size: 16px;
    }
    .image {
      max-width: 300px;
      max-height: 300px;
      height: 100%;
      width: 40%;
      position: relative;
      @media only screen and (max-width: 768px) {
        width: 220px;
        height: 220px;
      }
    }
  }
}

@keyframes opacity {
  from {
    opacity: 0.15;
  }
  to {
    opacity: 1;
  }
}
