:local {
  .container {
    width: auto;
    max-width: 100%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.08);
    border-top: #b165ed 1px solid;
    border-bottom: #b165ed 1px solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
